.footer {
  background-color: #531f01;
  color: white;
  padding: 2px 5px;
  margin-top: 20px;
  text-align: center;
}
/*#b04609*/
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 0.9rem;
  color: #ccc;
}

.horario {
  font-style: italic;
  font-size: 0.8rem;
  color: #cfcfcf;
}
