@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,900;1,6..96,900&display=swap");

/* src/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #b04609;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header img {
  width: 50px;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Bodoni Moda", serif;
  display: inline-block;
}

.logo-link {
  display: flex !important;
  align-items: center !important;
  gap: 10px;
}

.logo img {
  display: inline-block !important;
  margin: 0 !important;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.menu-btn {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

/* Estilos Móvil */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    left: -100%; /* Escondido a la izquierda */
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #b04609;
    transition: 0.4s;
  }

  .nav-menu.active {
    left: 0;
  } /* Se desliza al abrir */

  .nav-menu ul {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 0;
    width: 100%;
  }

  .nav-menu li {
    width: 80%; /* La línea no ocupará todo el ancho, dejando margen a los lados */
    text-align: center;
  }

  /* Aplicamos la línea divisoria */
  .nav-menu li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Línea blanca semitransparente */
  }

  .nav-menu a {
    display: block; /* Para que el área de clic sea mayor */
    padding: 1.5rem 0; /* Espaciado vertical entre las opciones */
    font-size: 1.2rem;
  }
}
